<div class="top-wrapper">
  <div class="container">
    <h1>スクレイピングフォーム</h1>

    <%= form_tag('/scrapers/scrape', method: 'post') do %>
      <div class="mb-3">
        <label for="url" class="form-label">利用するレシピのURL:</label>
        <%= text_field_tag(:url, nil, class: 'form-control', id: 'exampleFormControlInput1', placeholder: 'URLを貼り付けてください') %>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">料理名:</label>
        <%= text_field_tag(:name, nil, class: 'form-control', id: 'exampleFormControlInput2', placeholder: '料理名') %>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3">スクレイピング開始</button>
      </div>
    <% end %>
  </div>
</div>
