<% content_for(:name, @repertoire.name) %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= @repertoire.name %></h1>
      <%= render 'form', { repertoire: @repertoire } %>
    </div>
  </div>
</div>