<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-lg px-4 md:px-8">
    <div class="relative mb-6 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:mb-8">
      <%= image_tag 'topimg.jpg' %>
    </div>
  </div>
  <div class="mx-auto max-w-screen-lg px-4 md:px-8">
    <div class="card flex-auto bg-base-100 shadow-xl text-center mt6 mb-10">
      <div class="card-body">
        <h2 class="card-title flex-auto">使い方</h2>
        <br>
        <br>
        <p>自分が作れるものだけを、自分のレシピ帳に。</p>
        <p>たくさんのレシピを一括管理しませんか？</p>
        <p>使い方は簡単。まずはLINE連携してログインしてみてね。</p>
        <%= image_tag 'btn_login_base.png', class:'block mx-auto' %>
      </div>
    </div>
  </div>
</div>