<header class="navbar bg-body-light pb-5">
  <div class="navbar-start">
  </div>
  <div class="navbar-center">
    <%= link_to root_path do %>
      <%= image_tag "logo3.png" %>
    <% end %>
  </div>
  <div class="navbar-end">
    <%= link_to user_line_omniauth_authorize_path, class: 'block mx-auto', method: :post do %>
      <%= image_tag 'btn_login_base.png' %>
    <% end %>
  </div>
</header>