<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />
<div class="navbar bg-body-light pb-5">
  <div class="navbar-start">
  </div>
  <div class="navbar-center">
    <%= link_to root_path do %>
      <%= image_tag "logo3.png" %>
    <% end %>
  </div>
  <div class="navbar-end">
  </div>
</div>
