@tailwind base;
@tailwind components;
@tailwind utilities;

#roop {
  width: 100%;
  background: url(topimagebackground.png) repeat-x;
  background-position: 0 0;
  -webkit-animation: bgroop 20s linear infinite;
  animation: bgroop 20s linear infinite;
}
@-webkit-keyframes bgroop {
  from {
      background-position: 0  0;
  }
  to {
      background-position: -1956px 0;
  }
}
@keyframes bgroop {
  from {
      background-position: 0 0;
  }
  to {
      background-position: -1956px 0;
  }
}